body {
    margin: 0;
}

.wrap{
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
}

.allDisp {
    width: 50%;
    padding: .5rem;
    background-color: #ebebeb;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; /*모바일에서 클릭 시 파랗게 되는 것 제거*/
}

.allDisp:active {
    background-color: #e9e8e8;
    transition-property: background-color;
    transition-duration: .2s;
}

.allDel {
    width: 50%;
    padding: .5rem;  
    background-color: #e1e7e9;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.allDel:active {
    background-color: #dae0e2;
    transition-property: background-color;
    transition-duration: .2s;
}

.sen-theme--color {
    padding: .8rem;
    background-color: rgb(230, 244, 248);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
}

.sen-theme {
    padding: .8rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
}

.sen-theme--color:active {
    background-color: rgb(225, 239, 243);
    transition-property: background-color;
    transition-duration: .2s;
}

.sen-theme:active {
    background-color: #F8F9FA;
    transition-property: background-color;
    transition-duration: .2s;
}

.sen-kor {
    padding: .5rem;
}

.sen-eng {
    padding: .5rem;
    color: rgba(255, 255, 255, 0);
}

.disp {     /*!important 제거하고 속성 위쪽으로 옮기면 제대로 작동 안 된다. 이러면 안 된다.....*/
    color: black;
}